* {
    width: 100%;                                            ;
 }
 body{
    background: #212529 !important;
}

@media (max-width: 575px) { 
    .container-fluid{
        display: flex;
        justify-content: end;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    .menu-boton:hover{
        background: linear-gradient(90deg, #ed4264 15%, #ffedbc 100%);
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 25rem;
    }
    .menu-logo{
        width: 20rem;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }
    .footer-copy{
        display: flex;
        justify-content: center;
    }
    .footer-menu a{
        display: flex;
        justify-content: center;
    }
    .footer-redes{
        justify-content: center !important; 
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .menu-logo{
        width: 20rem;
    }
    .container-fluid{
        display: flex;
        justify-content: end;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    .menu-boton:hover{
        background: linear-gradient(90deg, #ed4264 15%, #ffedbc 100%);
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 30rem;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }
    .footer-copy{
        display: flex;
        justify-content: center;
    }
    .footer-menu a{
        display: flex;
        justify-content: center;
    }
    .footer-redes{
        justify-content: center !important; 
    }
  }
  
  /* Estilos para pantallas medianas (768px o más) */
  @media (min-width: 768px) and (max-width: 991px) {
    .menu-logo{
        width: 20rem;
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 30rem;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    .menu-boton:hover{
        background: linear-gradient(90deg, #ed4264 15%, #ffedbc 100%);
    }
    .footer-copy{
        padding-left: 1rem;
    }
  }
  
  /* Estilos para pantallas grandes de 992px */
  @media (min-width: 992px) and (max-width: 1199px) {
    .menu-logo{
        width: 10rem;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        width: 4rem;
        cursor: pointer;
    }
    .menu-login{
        display: flex;
        justify-content: end;
    }
    .menu-list{
        align-items: baseline !important;
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 35rem;
    }
}
  
  /* Estilos para pantallas extra grandes (1200px hasta 1500px) */
  @media (min-width: 1200px) and (max-width: 1499px) {
    .navbar-brand{
        width: 15rem;
     }
     
    .menu-logo{
        width: 10rem;
    }
    .menu-login{
        width: auto;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        width: 8rem;
    }
    .menu-boton:hover{
        background: linear-gradient(90deg, #ed4264 15%, #ffedbc 100%);
    }
    .menu-ul{
        width: 35rem;
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 35rem;
    }
    .carousel{
        width: 90%;
    }
    .carousel-main{
        display: flex;
        justify-content: center;
    }
    .footer-redes{
        justify-content: end !important; 
    }
    .footer-copy{
        padding-left: 2rem;
    }
    .proyectos-top{
        display: flex;
        justify-content: center;
    }
    .star {
        font-size: 50px;
        color: gray;
    }
    .filled {
        color: gold;
    }
  }
  /* Estilos para pantallas extra grandes (1200px hasta 1500px) */
  @media (min-width: 1500px) {
    .navbar-brand{
        width: 15rem;
     }
     
    .menu-logo{
        width: 10rem;
    }
    .menu-login{
        width: auto;
    }
    .menu-boton{
        border: 0.1px solid #ffedbc;
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        width: 8rem;
    }
    .menu-boton:hover{
        background: linear-gradient(90deg, #ed4264 15%, #ffedbc 100%);
    }
    .menu-ul{
        width: 35rem;
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    .carousel-item img{
        height: 35rem;
    }
    .carousel{
        width: 85%;
    }
    .carousel-main{
        display: flex;
        justify-content: center;
    }
    .footer-redes{
        justify-content: end !important; 
    }
    .footer-copy{
        padding-left: 2rem;
    }
    .proyectos-top{
        display: flex;
        justify-content: center;
    }
    .star {
        font-size: 50px;
        color: gray;
    }
    .filled {
        color: gold;
    }
  }
.footer-redes{
    flex-flow: nowrap !important;
    margin: 0.5rem;
}
.footer-redes li{
    width: 2rem;
}
.footer-menu{
    flex-flow: nowrap !important;
}
.footer-menu a{
    color: white !important;
}
.footer-copy{
    color: white;
}