* {
    margin:0;
    padding:0;
    width: 100%;
 } 
.menu {
    background-color: black;
    position: sticky;
}
.menu-logo{
    width: 15rem;
}
.menu ul li{
    display: inline;
}
.menu-lista ul li a{
    color: #ed4264;
    font-style: none;
    text-decoration: none;
    font-size: 1.1rem;
}
.menu-lista ul li img{
    width: 1.2rem;
}
.footer{
    background-color: black;
    bottom: 0;
}
.footer h1{
    color: #ed4264;
    font-size: 1.1rem;
}
.footer-img{
    width: 1.8rem;
}
/*.carousel{
    position: relative;
    width: 80%;
}
.carousel-indicadores button{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 80%;
    padding: 0.6rem 0.6rem;
    background-color: #ffedbc;
    border: none; 
    text-decoration: none;
    cursor: pointer;
}
.carousel-direction{
    border: none;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 10rem;
    position: absolute;
    background-color: transparent;
}
.carousel-inner{
    position: fixed;
    width: 90%;
}

.carousel-direction span img{
    height: 2rem;
    width: 2rem;
}*/

.top-projects video{
    height: 40rem;
    width: 40rem;
}